.aboutWrap {
    .introductionWrap {
        .header {
            .title {
                @apply text-[16px] text-left text-[#FF64AE] ml-[1px] font-[600] leading-[20px]
            }

            .subTitle {
                @apply h-[97px] text-[36px] text-left text-[#091156] mt-[12px] font-[600] leading-[45px]
            }

            .description {
                & {
                    width: calc((100vw * 680px) / (1440px));
                }

                @apply h-[51px] text-[#8B8B8B] text-[16px] tracking-widest text-left mt-[12px] font-[400] leading-[24px]
            }

            & {
                width: calc((100vw * 732px) / (1440px));
            }
        }

        .videoWrap {
            img {
                @apply w-full
            }

            .playBtn {
                &:before {
                    @apply content-[""] block absolute
                }

                .triangle {
                    border-bottom: 16px solid transparent;
                    border-top: 15px solid transparent;
                    border-left: 25.67px solid white;

                    @apply w-[36.67px] h-[32.67px];
                    @apply absolute top-1/2 left-1/2 translate-x-[-23%] translate-y-[-44%];
                }

                @apply inline-block absolute w-[88px] h-[88px] rounded-[50%] bg-[#091156] text-[0] top-1/2 left-1/2;
                @apply translate-x-[-49%] translate-y-[-50%] shadow-[0_4px_33px_10px_#E7E9FF]
            }

            &:hover {
                .playBtn {
                    .triangle {
                        @apply border-l-[#091156]
                    }

                    & {
                        transition: .3s;
                    }

                    @apply bg-white cursor-pointer
                }
            }

            @apply mt-[62px] ml-[-1px] relative cursor-pointer shadow-[0_25px_50px_25px_#F6F7FF]
        }

        @apply p-[0_150px] relative z-10
    }

    .expertsWrap {
        .bubbleBackground {
            @apply absolute top-0 right-0 z-[-1]
        }

        .content {
            @apply w-full
        }

        @apply relative z-[1] p-[655px_0_149.5px_0] mt-[-385px] h-[1533.5px]
    }

    .businessSloganWrap {
        .bgImage {
            @apply w-full absolute top-0 left-0 z-[-1]
        }

        .bgMask {
            @apply w-full absolute top-0 left-0 z-[-1]
        }

        .sloganContent {
            .sloganTitle {
                @apply text-[16px] font-[600] leading-[20px] text-center text-[#ABB4FF] h-[20px]
            }

            .sloganSubTitle {
                & {
                    width: calc((100vw * 732px) / (1440px));
                }

                @apply text-[36px] font-[600] leading-[45px] text-center text-white h-[97px] mt-[12px] p-[0_60px]
            }

            .sloganDescription {
                & {
                    width: calc((100vw * 680px) / (1440px));
                }

                @apply text-[16px] font-[400] leading-[24px] tracking-widest text-center text-[#CACACA] h-[56px] mt-[12px] ml-[26px]
            }

            @apply w-full p-[164px_354px_168px_354px]
        }

        @apply w-full relative h-[529px]
    }

    .bottomContentWrap {
        .bubbleBgFooter {
            @apply top-[74px] absolute z-[-1]
        }

        .mainContent {
            .ourVision {
                @apply relative left-1/2 translate-x-[-50%]
            }

            .ourMission {
                @apply mt-[106px] relative left-1/2 translate-x-[-50%]
            }

            .ourClients {
                .ocTitle {
                    @apply text-[16px] font-[600] leading-[20px] text-center text-[#FF64AE]
                }

                .ocSubTitle {
                    @apply text-[36px] font-[600] leading-[45px] text-center mt-[12px] h-[53px] text-[#091156]
                }

                .ocDesc {
                    @apply text-[16px] font-[400] leading-[24px] tracking-widest text-center text-[#8B8B8B] h-[31px] mt-[12px]
                }

                .logosWrap {
                    img {
                        &:first-child {
                            @apply ml-[2px] mt-[1px]
                        }

                        &:nth-child(2) {
                            @apply ml-[-4px] mt-[1px]
                        }

                        &:nth-child(3) {
                            @apply mt-[1px]
                        }

                        &:nth-child(4) {
                            @apply w-[147px] h-[84px] mt-[-3px] ml-[-1px]
                        }

                        &:last-child {
                            @apply mt-[1px] mr-[-2px]
                        }

                        @apply w-[147px] h-[80px]
                    }

                    @apply mt-[96px] h-[84px] flex w-full justify-between ml-[11px]
                }

                @apply mt-[123px] w-full p-[0_86px_0_89px] ml-[-13px]
            }

            @apply w-full p-[0_153px_50px_150px]
        }

        @apply mt-[112px] relative
    }

    @apply p-[229px_0_0_0]
}
