.cardWrap {
    .title {
        border-bottom: 1px solid #dbdfe9;
        @apply font-semibold text-[22px] px-10 py-6 text-[#172176] tracking-[0.03rem]
    }

    .childrenContainer {
        .uploadContainer {
            .avatar {
                @apply w-[170px] h-[170px]
            }

            .avatarEdit {
                @apply absolute top-[70%] right-[-3px] h-[2rem] w-[2rem] bg-[#f9f9f9] rounded-[50%] flex items-center justify-center
            }

            @apply w-1/2 flex flex-col items-center justify-center ml-[-20px]
        }

        .personalInfoContainer {
            .rightColumn {
                .leftPart {
                    @apply flex flex-col w-2/5 justify-start
                }

                .rightPart {
                    @apply flex flex-col justify-start w-2/5
                }

                @apply flex items-start justify-between
            }

            @apply w-2/3
        }

        @apply flex justify-between
    }

    box-shadow: 0 3px 4px 0 #00000008;
    border: 1px solid #f1f1f4;
    @apply bg-[white] rounded-[8px] w-full h-full mt-3 pb-6
}

.descriptionWrap {
    &:focus-visible {
        outline: none;
        border: none;
    }

    border-radius: 6px;
    background-color: #f9f9f9;
    width: 100%;
    height: 100px;
    @apply px-[18px] py-[12px]
}

.deleteBtn {
    svg {
        @apply hover:fill-[red] cursor-pointer
    }
}

@media (max-width: 992px) {
    .cardWrap {
        .childrenContainer {
            .personalInfoContainer {
                @apply w-full
            }

            @apply flex-col items-center
        }
    }
}


@media (max-width: 428px) {
    .cardWrap {
        .childrenContainer {
            .uploadContainer {
                .avatar {
                    @apply w-[120px] h-[120px]
                }

                @apply ml-0 mb-4
            }
        }
    }
}

@media (max-width: 428px) and (min-width: 350px) {
    .childrenContainer {
        .uploadContainer {
            @apply w-full flex flex-col items-center mt-0 ml-0 mb-8
        }

        .personalInfoContainer {
            .rightColumn {
                .leftPart {
                    @apply w-full
                }

                .rightPart {
                    @apply w-full
                }

                @apply flex-col
            }

            @apply w-full
        }

        @apply flex-col
    }
}
