.formWrap {
    input {
        &:focus-within {
            @apply border-[gray] #{!important}
        }

        @apply w-full h-[60px] mt-1
    }

    .passwordInputWrap {
        .icon {
            @apply absolute top-[55%] right-6 cursor-pointer
        }

        @apply relative
    }

    .errorInput {
        @apply border-[#D8000C] #{!important}
    }

    .submitBtn {
        .loadingIcon {
            -webkit-animation: rotating 1s linear infinite;
            -moz-animation: rotating 1s linear infinite;
            -ms-animation: rotating 1s linear infinite;
            -o-animation: rotating 1s linear infinite;
            animation: rotating 1s linear infinite;
        }

        &:hover {
            @apply bg-[#353f96] #{!important}
        }

        &:disabled {
            cursor: not-allowed #{!important};
            @apply bg-[#545b9c] #{!important}
        }

        @apply w-full mt-8 h-[60px] select-none rounded-[15px] flex items-center justify-center gap-x-[14px] cursor-pointer bg-[#172176] text-white font-semibold text-center text-[18px] #{!important}
    }

    .option {
        a {
            @apply underline ml-1 #{!important}
        }

        @apply mt-4 text-[18px] text-center
    }
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
