.galleryWrap {
    .top {
        .header {
            .heading {
                .title {
                    @apply text-[16px] font-[600] leading-[20px] text-[#FF64AE]
                }

                .subTitle {
                    & {
                        width: calc((100vw * 615px) / (1440px));
                    }

                    @apply text-[36px] font-[600] leading-[45px] text-[#091156] h-[104px] mt-[12px]
                }
            }

            .description {
                & {
                    width: calc((100vw * 407px) / (1440px));
                }

                @apply text-[16px] font-[400] leading-[24px] tracking-widest text-[#8B8B8B]
            }

            @apply flex flex-wrap justify-between items-center w-full pr-[20px]
        }

        .imagesWrap {
            & {
                grid-template-columns: repeat(auto-fill, 356px);
            }

            @apply w-full mt-[75px] grid gap-y-[38px] gap-x-[36px] place-content-center
        }

        .bottomDesc {
            & {
                width: calc((100vw * 660px) / (1440px));
            }

            span {
                @apply text-[#091156]
            }

            @apply mt-[66px] text-[16px] font-[400] leading-[24px] tracking-widest text-[#8B8B8B]
        }

        @apply p-[0_150px]
    }

    .between {
        .bgImage {
            @apply absolute top-0 left-0 w-full
        }

        .bgMask {
            @apply absolute top-0 left-0 w-full
        }

        .content {
            .topContent {
                .videoTitle {
                    @apply text-[36px] font-[600] leading-[45px] text-center text-white h-[51px]
                }

                .videoDesc {
                    & {
                        width: calc((100vw * 555px) / (1440px));
                    }

                    @apply text-[16px] font-[400] leading-[24px] tracking-widest text-center h-[56px] mt-[13px] text-[#CACACA]
                }

                @apply mt-[8px] ml-[1px]
            }

            .playBtnWrap {
                @apply grid place-items-center mt-[21px] ml-[7px]
            }

            @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-48%]
        }

        @apply relative h-[628px] w-full mt-[126px]
    }

    .bottom {
        .bubbleBg {
            @apply absolute top-0 right-0 z-[-1]
        }

        .quotaContent {
            .leftContent {
                .quotaTitle {
                    @apply text-[16px] font-[600] leading-[20px] text-[#FF64AE]
                }

                .quotaSubTitle {
                    & {
                        width: calc((100vw * 642px) / (1440px));
                    }

                    @apply text-[36px] font-[600] leading-[45px] text-[#091156] h-[94px] mt-[12px]
                }

                .quotaDesc {
                    & {
                        width: calc((100vw * 561px) / (1440px));
                    }

                    @apply text-[16px] font-[400] leading-[24px] tracking-widest text-[#8B8B8B] h-[64px] mt-[18px]
                }
            }

            .btnWrap {
                button {
                    @apply w-full h-full text-[16px] font-[600] leading-[24px] tracking-widest
                }

                @apply w-[316px] h-[58px] shadow-[0_17px_22px_0_#FFEDF6] mt-[68px]
            }

            @apply flex justify-between flex-wrap w-full
        }

        @apply relative h-[389.63px] pl-[150px] pt-[120px] pr-[206.56px] mb-[253px]
    }

    @apply relative top-[229px] h-auto
}

@media (min-width: 1450px) {
    .galleryWrap {
        .top {
            .header {
                .heading {
                    .subTitle {
                        @apply w-full
                    }

                    @apply w-[615px]
                }

                .description {
                    @apply w-[407px]
                }

                @apply flex flex-wrap justify-between items-center w-full pr-[20px]
            }

            .bottomDesc {
                @apply w-[660px]
            }

            @apply w-[1440px] relative left-1/2 translate-x-[-50%]
        }

        .between {
            .content {
                .topContent {

                    .videoDesc {
                        @apply w-full
                    }
                }

                @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-48%] w-[555px]
            }

            @apply relative h-[calc(100vw_/_2.29)] w-full
        }

        .bottom {
            .quotaContent {
                .leftContent {
                    .quotaSubTitle {
                        @apply w-full
                    }

                    .quotaDesc {
                        @apply w-[561px]
                    }

                    @apply w-[642px]
                }

                .btnWrap {
                    button {
                        @apply w-full h-full text-[16px] font-[600] leading-[24px] tracking-widest
                    }

                    @apply w-[316px] h-[58px] shadow-[0_17px_22px_0_#FFEDF6] mt-[68px]
                }

                @apply flex justify-center flex-wrap w-full relative gap-[300px]
            }

            @apply relative w-full
        }

        @apply relative top-[229px] h-auto
    }
}

@media (max-width: 1430px) {
    .galleryWrap {
        .top {
            .header {
                .heading {
                    .subTitle {
                        @apply w-full h-auto
                    }

                    @apply w-full text-center
                }

                .description {
                    @apply ml-2 w-full text-center h-auto mt-4
                }

                @apply justify-center pr-0
            }

            .bottomDesc {
                @apply w-full text-center
            }

            @apply p-[0_80px]
        }

        .between {
            @apply h-[500px]
        }

        .bottom {
            .quotaContent {
                .leftContent {
                    .quotaTitle {
                        @apply w-full text-center
                    }

                    .quotaSubTitle {
                        @apply h-auto w-full text-center
                    }

                    .quotaDesc {
                        @apply h-auto w-full text-center
                    }
                }

                .btnWrap {
                    @apply relative left-1/2 translate-x-[-50%] shadow-none
                }

                @apply flex justify-between flex-wrap w-full
            }

            @apply h-auto pl-[200px] pt-[200px]
        }

        @apply relative top-[229px] h-auto
    }
}

@media (max-width: 1200px) {
    .galleryWrap {
        .between {
            .content {
                .topContent {
                    .videoDesc {
                        @apply px-[150px] w-full
                    }
                }

                @apply relative translate-y-[20%]
            }

            @apply h-fit mb-[100px]
        }
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .galleryWrap {
        .between {
            @apply mb-[50px]
        }

        .bottom {
            @apply pt-[250px] pb-0 px-[30px]
        }
    }
}

@media (max-width: 1000px) {
    .galleryWrap {
        .top {
            .imagesWrap {
                img {
                    @apply w-full
                }

                & {
                    grid-template-columns: repeat(auto-fill, 500px);
                }
            }

            @apply px-[30px]
        }

        .between {
            @apply mb-[50px]
        }

        .bottom {
            @apply pt-[150px] pb-0 px-[30px]
        }
    }
}

@media (max-width: 678px) {
    .galleryWrap {
        .between {
            .content {
                .topContent {
                    .videoDesc {
                        @apply hidden
                    }
                }
            }

            @apply mb-0
        }

        .bottom {
            @apply px-[30px] mt-[30px]
        }
    }
}

@media (max-width: 576px) {
    .galleryWrap {
        .top {
            .imagesWrap {
                img {
                    @apply w-full
                }

                & {
                    grid-template-columns: repeat(auto-fill, 100%)
                }

                @apply place-items-center
            }

            @apply px-[20px]
        }

        .between {
            .content {
                .topContent {
                    .videoTitle {
                        @apply text-[28px]
                    }
                }

                .playBtnWrap {
                    @apply ml-0 mt-[-10px]
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .galleryWrap {
        .top {
            @apply px-[16px]
        }

        .between {
            .content {
                .topContent {
                    @apply hidden
                }
            }
        }

        .bottom {
            .quotaContent {
                @apply justify-center
            }
        }
    }
}
