.blogWrap {
    .top {
        .bgImage {
            @apply absolute top-0 left-0 z-[-1] w-full
        }

        .bgMask {
            @apply absolute top-0 left-0 z-[-1] w-full
        }

        .topContent {
            .contentTitle {
                @apply text-[36px] font-[600] leading-[45px] text-white
            }

            .breadcrumb {
                @apply text-[16px] font-[500] leading-[24px] tracking-widest text-[#D9D9D9] mr-[-1px] mt-[-1px]
            }

            @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] flex w-full px-[calc(100vw_/_9.66)] justify-between mt-[2px] items-center
        }

        @apply relative h-[calc(100vw_/_5.06)]

    }

    .mainContentWrap {
        .leftContent {
            @apply bg-transparent
        }

        .rightContent {
            .searchWrap {
                .glassBg {
                    @apply absolute top-0 right-0 cursor-pointer
                }

                .glassIcon {
                    @apply absolute top-[20px] right-[26px] cursor-pointer
                }

                input {
                    &::placeholder {
                        @apply text-[16px] font-[400] leading-[24px] tracking-widest text-[#8B8B8B] #{!important}
                    }

                    @apply shadow-[-2px_4px_31px_9px_#F2F4FF] pl-[27px] rounded-[50px] w-full h-full border-none #{!important}
                }

                @apply relative h-[65px] w-full
            }

            .cardsWrap {
                .flexBox {
                    .categoriesWrap {
                        .categories {
                            .name {
                                @apply text-[14px] font-[400] leading-[21px] tracking-widest text-[#8B8B8B] h-[23px]
                            }

                            @apply flex flex-col gap-y-[3px] w-full mt-[22px]
                        }

                        @apply mt-[83px] h-[250px]
                    }

                    .socialWrap {
                        .items {
                            .icon {
                                img {
                                    @apply absolute top-[9px] left-[9px]
                                }

                                .bgCircle {
                                    @apply w-full h-full rounded-[50%] bg-white shadow-[0_4px_19px_11px_#F6F7FF]
                                }

                                @apply relative w-[43px] h-[43px]
                            }

                            @apply mt-[30px] flex flex-wrap gap-x-[21px] ml-[-5px]
                        }

                        @apply mt-[83px] h-[213px]
                    }

                    .hiddenBox {
                        @apply hidden
                    }
                }

                .tagsWrap {
                    .tags {
                        .cloudTag {
                            @apply w-full grid place-content-center rounded-[50px] h-[26px] shadow-[0_4px_17px_0_#EEF0FF] text-[14px] font-[400] leading-[21px] tracking-widest text-[#8B8B8B]
                        }

                        & {
                            grid-template-columns: repeat(auto-fill, 82px);
                        }

                        @apply w-full mt-[22.5px] grid gap-y-[38px] gap-x-[8px] gap-y-[19px] ml-[-4.2px]
                    }

                    @apply mt-[83px] h-[274px]
                }

                .postCard {
                    @apply mt-[28px]
                }

                .socialWrap {
                    .items {
                        .icon {
                            img {
                                @apply absolute top-[9px] left-[9px]
                            }

                            .bgCircle {
                                @apply w-full h-full rounded-[50%] bg-white shadow-[0_4px_19px_11px_#F6F7FF]
                            }

                            @apply relative w-[43px] h-[43px]
                        }

                        @apply mt-[30px] flex flex-wrap gap-x-[21px] ml-[-5px]
                    }

                    @apply mt-[83px] h-[213px]
                }

                @apply mt-[76px]
            }
        }

        @apply mt-[108px] p-[0_150px] w-full flex justify-between flex-wrap
    }

    .bottom {
        .pagination {
            .page {
                &:hover {
                    @apply bg-[#172176] text-white
                }
            }

            .page, .currentPage {
                @apply text-[16px] w-[35px] font-[600] leading-[20px] text-center text-[#C7C7C7] basis-[35px] h-full rounded-[50%] bg-transparent grid place-content-center cursor-pointer
            }

            .currentPage {
                @apply shadow-[0_7px_37px_4px_#E6E9FF] bg-[#172176] text-white
            }

            @apply h-[35px] absolute translate-x-[-50%] translate-y-[-50%] top-1/2 left-1/2 inline-flex flex-nowrap justify-between gap-x-[17px] ml-[7px]
        }

        @apply mt-[115px] mb-[328px] w-full h-auto relative
    }

    @apply relative top-[140px]
}

@media (min-width: 1450px) {
    .blogWrap {
        .top {
            .bgImage, .bgMask {
                object-fit: cover;
                @apply h-full
            }

            .bgImage {
                @apply absolute top-0 left-0 z-[-1] w-full
            }

            .bgMask {
                @apply absolute top-0 left-0 z-[-1] w-full
            }

            .topContent {
                .contentTitle {
                    @apply text-[36px] font-[600] leading-[45px] text-white
                }

                .breadcrumb {
                    @apply text-[16px] font-[500] leading-[24px] tracking-widest text-[#D9D9D9] mr-[-1px] mt-[-1px]
                }

                @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] flex w-full px-[400px] justify-between mt-[2px] items-center
            }

            @apply relative h-[285px] w-full left-1/2 translate-x-[-50%] overflow-hidden
        }

        .mainContentWrap {
            .leftContent {
                @apply bg-transparent w-[730px]
            }

            .rightContent {
                .searchWrap {
                    .glassBg {
                        @apply absolute top-0 right-0
                    }

                    .glassIcon {
                        @apply absolute top-[20px] right-[26px]
                    }

                    input {
                        &::placeholder {
                            @apply text-[16px] font-[400] leading-[24px] tracking-widest text-[#8B8B8B] #{!important}
                        }

                        @apply shadow-[-2px_4px_31px_9px_#F2F4FF] pl-[27px] rounded-[50px] w-full h-full border-none #{!important}
                    }

                    @apply relative h-[65px] w-full
                }

                .cardsWrap {
                    .flexBox {
                        .categoriesWrap {
                            .categories {
                                .name {
                                    @apply text-[14px] font-[400] leading-[21px] tracking-widest text-[#8B8B8B] h-[23px]
                                }

                                @apply flex flex-col gap-y-[3px] w-full mt-[22px]
                            }

                            @apply mt-[83px] h-[250px]
                        }

                        .socialWrap {
                            @apply hidden
                        }
                    }

                    .tagsWrap {
                        .tags {
                            .cloudTag {
                                @apply w-full grid place-content-center rounded-[50px] h-[26px] shadow-[0_4px_17px_0_#EEF0FF] text-[14px] font-[400] leading-[21px] tracking-widest text-[#8B8B8B]
                            }

                            & {
                                grid-template-columns: repeat(auto-fill, 82px);
                            }

                            @apply w-full mt-[22.5px] grid gap-y-[38px] gap-x-[8px] gap-y-[19px] ml-[-4.2px]
                        }

                        @apply mt-[83px] h-[274px]
                    }

                    .postCard {
                        @apply mt-[28px]
                    }

                    .socialWrap {
                        .items {
                            .icon {
                                img {
                                    @apply absolute top-[9px] left-[9px]
                                }

                                .bgCircle {
                                    @apply w-full h-full rounded-[50%] bg-white shadow-[0_4px_19px_11px_#F6F7FF]
                                }

                                @apply relative w-[43px] h-[43px]
                            }

                            @apply mt-[30px] flex flex-wrap gap-x-[21px] ml-[-5px]
                        }

                        @apply mt-[83px] h-[213px]
                    }

                    @apply mt-[76px]
                }

                @apply w-[350px]
            }

            @apply w-[1440px] justify-between relative left-1/2 translate-x-[-50%] mt-[100px]
        }

        .bottom {
            .pagination {
                .page, .currentPage {
                    @apply text-[16px] w-[35px] font-[600] leading-[20px] text-center text-[#C7C7C7] basis-[35px] h-full rounded-[50%] bg-transparent grid place-content-center
                }

                .currentPage {
                    @apply shadow-[0_7px_37px_4px_#E6E9FF] bg-[#172176] text-white
                }

                @apply h-[35px] absolute translate-x-[-50%] translate-y-[-50%] top-1/2 left-1/2 inline-flex flex-nowrap justify-between gap-x-[17px] ml-[7px]
            }

            @apply mt-[115px] mb-[328px] w-full h-auto relative
        }

        @apply relative top-[140px]
    }
}

@media (max-width: 1430px) {
    .blogWrap {
        //.top {
        //    .bgImage {
        //        @apply absolute top-0 left-0 z-[-1] w-full
        //    }
        //
        //    .bgMask {
        //        @apply absolute top-0 left-0 z-[-1] w-full
        //    }
        //
        //    .topContent {
        //        .contentTitle {
        //            @apply text-[36px] font-[600] leading-[45px] text-white
        //        }
        //
        //        .breadcrumb {
        //            @apply text-[16px] font-[500] leading-[24px] tracking-widest text-[#D9D9D9] mr-[-1px] mt-[-1px]
        //        }
        //
        //        @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] flex w-full px-[149px] justify-between mt-[2px] items-center
        //    }
        //
        //    @apply relative h-[285px]
        //
        //}

        .mainContentWrap {
            .leftContent {
                @apply bg-transparent mt-[100px]
            }

            .rightContent {
                .searchWrap {
                    .glassBg {
                        @apply absolute top-0 right-0
                    }

                    .glassIcon {
                        @apply absolute top-[20px] right-[26px]
                    }

                    input {
                        &::placeholder {
                            @apply text-[16px] font-[400] leading-[24px] tracking-widest text-[#8B8B8B] #{!important}
                        }

                        @apply shadow-[-2px_4px_31px_9px_#F2F4FF] pl-[27px] rounded-[50px] w-full h-full border-none #{!important}
                    }

                    @apply relative h-[65px] w-full
                }

                .cardsWrap {
                    .flexBox {
                        .categoriesWrap {
                            .categories {
                                .name {
                                    @apply text-[14px] font-[400] leading-[21px] tracking-widest text-[#8B8B8B] h-[23px]
                                }

                                @apply flex flex-col gap-y-[3px] w-full mt-[22px]
                            }

                            @apply mt-0
                        }

                        .socialWrap {
                            @apply mt-[15px]
                        }

                        .hiddenBox {
                            @apply block
                        }

                        @apply flex flex-col flex-wrap
                    }

                    .socialWrap {
                        @apply hidden
                    }

                    .tagsWrap {
                        @apply mt-0
                    }

                    .postCard {
                        @apply mt-[28px]
                    }

                    @apply mt-[76px] flex flex-wrap gap-[40px] justify-center
                }
            }

            @apply justify-center flex-col-reverse
        }

        .bottom {
            .pagination {
                .page, .currentPage {
                    @apply text-[16px] w-[35px] font-[600] leading-[20px] text-center text-[#C7C7C7] basis-[35px] h-full rounded-[50%] bg-transparent grid place-content-center
                }

                .currentPage {
                    @apply shadow-[0_7px_37px_4px_#E6E9FF] bg-[#172176] text-white
                }

                @apply h-[35px] absolute translate-x-[-50%] translate-y-[-50%] top-1/2 left-1/2 inline-flex flex-nowrap justify-between gap-x-[17px] ml-[7px]
            }

            @apply mt-[115px] mb-[328px] w-full h-auto relative
        }

        @apply relative top-[140px]
    }
}

@media (max-width: 1040px) {
    .blogWrap {
        .mainContentWrap {
            .rightContent {
                .cardsWrap {
                    .socialWrap {
                        @apply mt-[50px] #{!important}
                    }
                }
            }
        }
    }
}

@media (max-width: 860px) {
    .blogWrap {
        .mainContentWrap {
            .leftContent {
                @apply bg-transparent mt-[100px]
            }

            .rightContent {
                .searchWrap {
                    .glassBg {
                        @apply absolute top-0 right-0
                    }

                    .glassIcon {
                        @apply absolute top-[20px] right-[26px]
                    }

                    input {
                        &::placeholder {
                            @apply text-[16px] font-[400] leading-[24px] tracking-widest text-[#8B8B8B] #{!important}
                        }

                        @apply shadow-[-2px_4px_31px_9px_#F2F4FF] pl-[27px] rounded-[50px] w-full h-full border-none #{!important}
                    }

                    @apply relative h-[65px] w-full
                }

                .cardsWrap {
                    .flexBox {
                        .categoriesWrap {
                            .categories {
                                .name {
                                    @apply text-[14px] font-[400] leading-[21px] tracking-widest text-[#8B8B8B] h-[23px]
                                }

                                @apply flex flex-col gap-y-[3px] w-full mt-[22px]
                            }

                            @apply mt-0
                        }

                        .socialWrap {
                            @apply mt-[15px]
                        }

                        .hiddenBox {
                            @apply block
                        }

                        @apply flex flex-col flex-wrap
                    }

                    .socialWrap {
                        @apply hidden
                    }

                    .tagsWrap {
                        @apply mt-0
                    }

                    .postCard {
                        @apply mt-[28px]
                    }

                    @apply mt-[76px] flex flex-wrap gap-[40px] justify-center
                }
            }

            @apply justify-center flex-col-reverse px-[80px]
        }

        .bottom {
            .pagination {
                .page, .currentPage {
                    @apply text-[16px] w-[35px] font-[600] leading-[20px] text-center text-[#C7C7C7] basis-[35px] h-full rounded-[50%] bg-transparent grid place-content-center
                }

                .currentPage {
                    @apply shadow-[0_7px_37px_4px_#E6E9FF] bg-[#172176] text-white
                }

                @apply h-[35px] absolute translate-x-[-50%] translate-y-[-50%] top-1/2 left-1/2 inline-flex flex-nowrap justify-between gap-x-[17px] ml-[7px]
            }

            @apply mt-[115px] mb-[328px] w-full h-auto relative
        }

        @apply relative top-[140px]
    }
}

@media (max-width: 500px) {
    .blogWrap {
        .top {
            .topContent {
                .contentTitle {
                    @apply text-[28px]
                }
            }
        }

        .mainContentWrap {
            .leftContent {
                @apply bg-transparent mt-[100px] w-full
            }

            .rightContent {
                .searchWrap {
                    .glassBg {
                        @apply absolute top-0 right-0
                    }

                    .glassIcon {
                        @apply absolute top-[20px] right-[26px]
                    }

                    input {
                        &::placeholder {
                            @apply text-[16px] font-[400] leading-[24px] tracking-widest text-[#8B8B8B] #{!important}
                        }

                        @apply shadow-[-2px_4px_31px_9px_#F2F4FF] pl-[27px] rounded-[50px] w-full h-full border-none #{!important}
                    }

                    @apply relative h-[65px] w-full
                }

                @apply w-full
            }

            @apply px-[20px]
        }
    }
}

@media (max-width: 400px) {
    .blogWrap {
        .top {
            .topContent {
                .contentTitle {
                    @apply text-[22px]
                }
            }

            img {
                @apply h-[80px]
            }
        }

        .mainContentWrap {
            .rightContent {
                .cardsWrap {
                    .flexBox {
                        .categoriesWrap {
                            .categories {
                                .name {
                                    @apply text-center
                                }
                            }
                        }

                        .socialWrap {
                            .items {
                                @apply justify-center
                            }
                        }

                        @apply w-full
                    }

                    .tagsWrap {
                        .tags {
                            @apply ml-0 place-content-center
                        }
                        @apply h-auto
                    }
                }
            }
        }
    }
}
