.cardWrap {
    .logoWrap {

    }

    .content {
        .name {
            @apply leading-[22.5px] w-full h-[37px] text-[18px] font-[600] text-left text-[#091156]
        }

        .description {
            @apply leading-[21px] w-full h-[63px] text-[14px] font-[400] tracking-widest text-left text-[#8B8B8B]
        }

        .learnMore {
            img {
                @apply ml-[9px] mt-[2px]
            }

            @apply leading-[17.5px] mt-[17px] text-[14px] font-[600] text-left flex text-[#FF64AE] items-center
        }

        @apply mt-[25px]
    }

    &:hover {
        border: 1px solid #9BA2E0;
    }

    & {
        width: calc((100vw * 261px) / (1440px));
        border: 1px solid #E2E2E2;
        scroll-snap-align: center;
    }
    @apply h-[303px] rounded-[25px] p-[30px_36px_47px_35px] bg-white cursor-pointer
}

@media (max-width: 1430px) {
    .cardWrap {
        .content {
            .name, .description {
                @apply h-auto
            }
            .description {
                @apply mt-2
            }
            .learnMore {
                @apply text-[12.5px]
            }
        }

        @apply w-[261px] h-[350px]
    }
}

@media (max-width: 870px) {
    .cardWrap {
        .content {
            .name, .description {
                @apply h-auto
            }
            .description {
                @apply mt-2
            }
            .learnMore {
                @apply text-[12.5px]
            }
        }

        @apply w-[261px] h-[350px]
    }
}

@media (max-width: 576px) {
    .cardWrap {
        @apply w-[300px]
    }
}
