.serviceWrap {
    .introduction {
        .background {
            img {
                @apply w-full h-full
            }

            @apply w-full h-full absolute top-0 z-[-1]
        }

        .content {
            .title {
                @apply text-[16px] font-[600] leading-[20px] text-center text-[#FF64AE]
            }

            .subTitle {
                @apply text-[36px] font-[600] leading-[45px] text-center text-[#091156] h-[57px] mt-[12px]
            }

            .description {
                @apply h-[28px] text-[16px] font-[400] leading-[24px] tracking-widest text-center text-[#8B8B8B] mt-[12px]
            }

            .imagesWrap {
                .squareImg, .rectImg {
                    @apply hidden
                }

                .top, .bottom {
                    @apply flex justify-between
                }

                .bottom {
                    @apply mt-[68px]
                }

                @apply mt-[70px]
            }

            @apply w-full p-[30px_170px_87px_170px]
        }

        @apply w-full h-[893px] relative top-[199px]
    }

    .consultation, .treatments, .product {
        .sectionDescription {
            .desc {
                @apply text-[16px] font-[400] leading-[24px] tracking-widest text-left h-[87px]
            }

            .option {
                img {
                    @apply w-[25px] h-[25px] ml-[13px]
                }

                @apply flex mt-[9px] text-[#091156] text-[16px] font-[600] leading-[24px] tracking-widest cursor-pointer
            }
        }

        @apply w-full p-[0_150px_0_149px]
    }

    .consultation {
        @apply mt-[272px]
    }

    .treatments {
        @apply mt-[101px]
    }

    .product {
        @apply mt-[104px] ml-[1px]
    }

    .titleAboveVideo {
        @apply hidden
    }

    .videoWrap {
        .bgImage {
            @apply w-full absolute top-0 left-0 z-[-1]
        }

        .bgMask {
            @apply w-full absolute top-0 left-0 z-[-1]
        }

        .videoContent {
            .left {
                .videoTitle {
                    @apply text-[36px] font-[600] leading-[45px] text-white h-[97px] w-[80%]
                }

                .videoDesc {
                    @apply text-[16px] font-[400] leading-[24px] tracking-widest text-[#CACACA] mt-[12px] w-[80%]
                }

                & {
                    width: calc((100vw * 732px) / (1440px));
                }

                @apply h-[165px]
            }

            .right {
                .playBtn {
                    .ellipse {
                        @apply absolute top-0 left-0 w-full
                    }

                    .polygon {
                        @apply absolute top-1/2 left-1/2 translate-x-[-40%] translate-y-[-50%]
                    }

                    @apply relative w-[166px] h-[167px] ml-[-7px] cursor-pointer
                }

                .text {
                    @apply text-[16px] font-[600] leading-[24px] tracking-widest text-white ml-[8px] mt-[-4px]
                }

                @apply h-[127px] flex-1 flex items-center
            }

            @apply flex flex-wrap justify-center relative h-full w-full items-center
        }

        @apply relative h-[529px] mt-[123px] p-[182px_200px_182px_150px]
    }

    .faqWrap {
        .heading {
            &:after {
                content: '';
                @apply ml-[-5px] bg-[#FF64AE] rounded-[5px] absolute block bottom-0 left-1/2 translate-x-[-50%] w-[40px] h-[5px]
            }

            @apply h-[66px] text-[36px] font-[600] leading-[45px] text-center relative ml-[10px]
        }

        .faqContent {
            @apply mt-[49px]
        }

        @apply mt-[116px] w-full p-[0_234px] mb-[95px]
    }

    @apply w-full
}

@media (min-width: 1450px) {
    .serviceWrap {
        .introduction {
            .content {
                @apply relative left-1/2 translate-x-[-50%] w-[1440px]
            }

            @apply w-full
        }

        .consultation, .treatments, .product {
            @apply w-[1440px] relative left-1/2 translate-x-[-50%]
        }

        .videoWrap {
            .videoContent {
                .left {
                    .videoTitle {
                        @apply text-[36px] font-[600] leading-[45px] text-white h-[97px] w-[80%]
                    }

                    .videoDesc {
                        @apply text-[16px] font-[400] leading-[24px] tracking-widest text-[#CACACA] mt-[12px] w-[80%]
                    }

                    @apply h-[165px] w-[732px]
                }

                .right {
                    .playBtn {
                        .ellipse {
                            @apply absolute top-0 left-0 w-full
                        }

                        .polygon {
                            @apply absolute top-1/2 left-1/2 translate-x-[-40%] translate-y-[-50%]
                        }

                        @apply relative w-[166px] h-[167px] ml-[-7px]
                    }

                    .text {
                        @apply text-[16px] font-[600] leading-[24px] tracking-widest text-white ml-[8px] mt-[-4px]
                    }

                    @apply h-[127px] flex-1 flex items-center justify-center
                }

                @apply flex flex-wrap justify-center relative h-full w-full items-center
            }

            @apply relative h-[calc(100vw_/_2.72)] pl-[300px]
        }

        .faqWrap {
            @apply mt-[116px] w-[1440px] p-[0_234px] mb-[95px] relative left-1/2 translate-x-[-50%]
        }

        @apply w-full
    }
}

@media (max-width: 1430px) {
    .serviceWrap {
        .introduction {
            .content {
                .imagesWrap {
                    .squareImg, .rectImg {
                        @apply flex
                    }

                    .hiddenImg {
                        @apply hidden
                    }

                    .top, .bottom {
                        @apply flex justify-center flex-wrap gap-[50px]
                    }

                    .bottom {
                        @apply mt-[68px]
                    }
                }

                .subTitle {
                    @apply h-auto
                }

                @apply w-full p-[30px_80px_87px_80px]
            }

            @apply h-auto
        }

        .consultation, .treatments, .product {
            .sectionDescription {
                .desc {
                    @apply h-auto
                }
            }
        }

        .consultation {
            @apply mt-[200px]
        }

        .videoWrap {
            .videoContent {
                .left {
                    .videoTitle, .videoDesc {
                        @apply w-full h-auto
                    }

                    @apply text-center
                }

                .right {
                    .playBtn {
                        .ellipse {
                            @apply w-[150px]
                        }

                        .polygon {
                            @apply w-[25px]
                        }

                        @apply relative w-[80px] h-[80px] ml-[-7px]
                    }

                    @apply mt-[40px]
                }

                @apply flex-col flex h-auto relative top-1/2 translate-y-[-50%]
            }

        }

        .faqWrap {
            .heading {
                &:after {
                    content: '';
                    @apply ml-[-5px] bg-[#FF64AE] rounded-[5px] absolute block bottom-0 left-1/2 translate-x-[-50%] w-[40px] h-[5px]
                }

                @apply h-[66px] text-[36px] font-[600] leading-[45px] text-center relative ml-[10px]
            }

            .faqContent {
                @apply mt-[49px]
            }

            @apply mt-[120px] p-[0_80px]
        }

        @apply w-full
    }
}

@media (max-width: 1200px) {
    .serviceWrap {
        .videoWrap {
            .videoContent {
                .left {
                    .videoTitle, .videoDesc {
                        @apply w-full
                    }

                    @apply text-center
                }

                .right {
                    .playBtn {
                        .ellipse {
                            @apply w-[150px]
                        }

                        .polygon {
                            @apply w-[25px]
                        }

                        @apply relative w-[80px] h-[80px] ml-[-7px]
                    }

                    @apply mt-[40px]
                }

                @apply flex-col flex h-auto relative top-1/2 translate-y-[-60%]
            }

        }

        .faqWrap {
            @apply mt-[80px]
        }
    }
}

@media (max-width: 1080px) {
    .serviceWrap {
        .videoWrap {
            .videoContent {
                .left {
                    @apply text-center w-full
                }

                .right {
                    @apply mt-[30px]
                }

                @apply translate-y-[-80%]
            }
        }
    }
}

@media (max-width: 992px) {
    .serviceWrap {
        .consultation, .treatments, .product {
            .sectionDescription {
                .desc {
                    @apply text-center
                }

                .option {
                    @apply w-full justify-center
                }
            }
        }
    }
}

@media (max-width: 870px) {
    .serviceWrap {
        .videoWrap {
            .videoContent {
                @apply translate-y-[-85%]
            }

            @apply px-[40px]
        }

        .faqWrap {
            @apply mt-[-100px]
        }
    }
}

@media (max-width: 820px) {
    .serviceWrap {
        .introduction {
            .content {
                .imagesWrap {
                    .top {
                        img {
                            @apply w-full
                        }

                        & {
                            grid-template-columns: repeat(auto-fill, 45%);
                        }

                        @apply grid justify-between gap-[20px]
                    }
                }

                @apply px-[40px]
            }
        }

        .titleAboveVideo {
            @apply flex text-[36px] font-[600] leading-[45px] text-[#091156] h-[97px] w-[80%] text-center w-full mt-[100px] mb-[-100px]
        }

        .videoWrap {
            .videoContent {
                .left {
                    .videoTitle {
                        @apply hidden
                    }

                    .videoDesc {
                        @apply mt-[100px] px-[40px] text-[20px]
                    }
                }

                @apply translate-y-[-95%]
            }
        }
    }
}

@media (max-width: 768px) {
    .serviceWrap {
        .videoWrap {
            .videoContent {
                @apply translate-y-[-110%]
            }
        }
    }
}

@media (max-width: 768px) {
    .serviceWrap {
        .titleAboveVideo {
            @apply px-[20px]
        }

        .videoWrap {
            .videoContent {
                @apply translate-y-[-115%]
            }
        }
    }
}

@media (max-width: 680px) {
    .serviceWrap {
        .titleAboveVideo {
            @apply text-[28px] leading-[40px] mb-[-120px]
        }

        .videoWrap {
            .videoContent {
                .left {
                    .videoDesc {
                        @apply px-5
                    }
                }

                .right {
                    @apply mb-[10px]
                }

                @apply translate-y-[-120%]
            }

            @apply px-[10px]
        }
    }
}

@media (max-width: 580px) {
    .serviceWrap {
        .consultation, .treatments, .product {
            @apply px-[20px]
        }

        .videoWrap {
            .videoContent {
                .left {
                    .videoDesc {
                        @apply hidden
                    }
                }

                .right {
                    @apply mb-[10px]
                }

                @apply translate-y-[-140%]
            }
        }

        .faqWrap {
            @apply mt-[-200px] px-[20px]
        }
    }
}

@media (max-width: 510px) {
    .serviceWrap {
        .videoWrap {
            .videoContent {
                @apply translate-y-[-145%]
            }

            @apply mt-[160px]
        }

        .faqWrap {
            @apply mt-[-200px] px-[20px]
        }
    }
}

@media (max-width: 410px) {
    .serviceWrap {
        .introduction {
            .content {
                @apply px-[16px]
            }
        }

        .videoWrap {
            .videoContent {
                .right {
                    @apply mt-[60px]
                }

                @apply translate-y-[-150%]
            }

            @apply mt-[200px]
        }

        .faqWrap {
            .heading {
                @apply text-[30px]
            }

            @apply mt-[-250px] mb-[-160px] px-0
        }
    }
}
