.headerWrap {
    img {
        @apply select-none w-[258px] h-[120%] mt-[10px] ml-[-3px] cursor-pointer
    }

    .rightHeader {
        .mainMenu, .themeLightMenu {
            .plusIcon {
                animation: spin-animation .3s;
                @apply w-[7px] h-[7px] mt-0
            }

            .activeOption, .stickyActiveOption {
                @media (max-width: 1430px) {
                    @apply flex items-center justify-between cursor-pointer text-[#41487F] #{!important}
                }

                @apply flex items-center justify-between cursor-pointer select-none;
                @apply text-[#41487F] #{!important}
            }

            .stickyActiveOption {
                @apply text-[#41487F] #{!important}
            }

            .option {
                &:hover {
                    @apply text-[#41487F] #{!important}
                }

                @apply cursor-pointer flex items-center justify-between select-none
            }

            @media (max-width: 1430px) {
                display: none;
            }

            @apply flex justify-between items-center w-[481px] h-[25px] text-[#8B8B8B] text-[16px] font-[500];
            @apply leading-6 tracking-widest text-left;
        }

        .themeLightMenu {
            .activeOption {
                //@media (max-width: 1430px) {
                //    @apply flex items-center justify-between cursor-pointer w-[66px] text-[#41487F] #{!important}
                //}

                @apply text-white #{!important}
            }

            .option {
                &:hover {
                    @apply text-white #{!important}
                }
            }

            @apply text-[#D8DCFF]
        }

        .contactBtn {
            button {
                @media (max-width: 1430px) {
                    @apply hidden #{!important}
                }

                @apply w-[158px] h-[52px] text-[16px] font-semibold leading-6 tracking-widest
            }

            @media (max-width: 1430px) {
                @apply ml-0
            }

            @apply ml-[52px]
        }

        .menuBtn {
            @apply transition-[.8s]
        }

        @media (max-width: 1430px) {
            .menuBtn {
                @apply flex
            }
        }

        @apply flex justify-between items-center relative
    }

    @media (min-width: 1450px) {
        @apply w-full h-[63px] absolute top-[41px] left-0 p-[0_120px] flex justify-between items-center
    }

    @media (max-width: 1430px) {
        @apply w-screen h-[63px] absolute top-[41px] left-0 p-[0_40px] flex justify-between items-center
    }

    @apply w-[1140px] h-[63px] absolute top-[39px] left-[150px] flex justify-between items-center z-10
}

.stickyHeader, .stickyDarkHeader {
    .rightHeader {
        .contactBtn {
            button {
                @apply h-[45px] w-[130px] text-[15px]
            }
        }
    }

    & {
        animation: slideDown 0.35s ease-out;
        box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px #{!important};
    }

    @apply fixed bg-white w-full h-[95px] left-1/2 top-0 translate-x-[-50%] p-[25px_60px] z-[9999]
}

.stickyDarkHeader {
    .rightHeader {
        .themeLightMenu {
            .option {
                @apply text-[#8b8b8b] hover:text-[#091156] #{!important}
            }
        }
    }
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        //@apply left-1/2
    }
    //to {
    //    transform: translateY(0);
    //}
}

.minusIcon {
    animation: spin-animation .3s;
    @apply ml-[4px]
}

@media (max-width: 870px) {
    .headerWrap {
        .rightHeader {
            .menuBtn {
                @apply flex
            }

            .mainMenu {
                @apply flex items-center justify-between cursor-pointer w-[66px] text-[#41487F] #{!important}
            }
        }

        img {
            @apply select-none w-[60%] h-full mt-[10px] ml-[-15%]
        }

        @apply w-full h-[63px] absolute top-[41px] left-0 p-[0_45px_0_40px] flex justify-between items-center
    }
}

@media (min-width: 700px) and (max-width: 870px) {
    .headerWrap {
        img {
            @apply ml-[-12%]
        }
    }
}

@media (min-width: 576px) and (max-width: 700px) {
    .headerWrap {
        img {
            @apply ml-[-8%]
        }
    }
}

@media (max-width: 576px) {
    .headerWrap {
        img {
            @apply ml-[1%]
        }
    }
}

@media (max-width: 360px) {
    .headerWrap {
        .darkThemeLogo {
            @apply w-[70%] h-auto ml-0 #{!important}
        }
    }
}
