.homeWrap {
    .backgroundSliderWrap {
        .sliderImage {
            @apply w-full
        }

        .sliderContent {
            .leftSlider {
                .title {
                    @apply leading-[60px] text-[48px] font-[600] text-left text-white h-[133px]
                }

                .description {
                    @apply leading-[24px];
                    @apply h-[78px] text-[16px] font-[500] tracking-widest text-left text-[#D8DCFF]
                }

                .detailBtnWrap {
                    .playBtnNextToDetailBtn {
                        .rightText {
                            @apply leading-[24px];
                            @apply text-[16px] font-[600] tracking-widest text-left text-white mt-[3px] mr-[-1px]
                        }

                        @apply hidden flex items-center justify-between cursor-pointer
                    }

                    button {
                        border: 1px solid #ffffff;
                        @apply w-full h-full bg-transparent rounded-[15px] tracking-widest #{!important}
                    }

                    &:hover {
                        button {
                            @apply bg-white text-[#091156] font-medium #{!important}
                        }
                    }

                    & {
                        width: calc((100vw * 179px) / (1440px));
                    }

                    @apply mt-[34px] h-[52px]
                }

                & {
                    width: calc((100vw * 502px) / (1440px));
                }
            }

            .rightSlider {
                .rightText {
                    @apply leading-[24px];
                    @apply text-[16px] font-[600] tracking-widest text-left text-white mt-[3px] mr-[-1px]
                }

                img {
                    @apply ml-[-19px]
                }

                &:hover {
                    img {
                        @apply shadow-[0_0_7px_2px_#FFFFFF26] rounded-[50%]
                    }

                    .rightText {
                        text-shadow: 10px 0 10px #FFFFFF26;
                    }
                }

                & {
                    width: calc((100vw * 275px) / (1440px));
                }

                @apply mt-[84px] flex items-center h-[127px] justify-between cursor-pointer
            }

            @apply p-[307px_295px_314px_149px] absolute top-0 h-full flex justify-between w-full
        }

        @apply relative
    }

    .aboutUsWrap {
        .leftImageWrap {

        }

        .rightContent {
            .imageUnderTitle {
                @apply hidden
            }

            .mainTitle {
                @apply leading-[20px] h-[20px] text-[16px] font-[600] text-left text-[#FF64AE] w-full ml-[1px]
            }

            .underTitle {
                @apply leading-[45px] mt-[12px] h-[91px] text-[36px] font-[600] text-left text-[#091156] w-full
            }

            .descriptionUnder {
                @apply leading-[24px];
                @apply h-[133px] w-full text-[16px] font-[400] tracking-widest text-left mt-[10px] text-[#8B8B8B]
            }

            .learnMoreBtnWrap {
                button {
                    @apply leading-[24px];
                    @apply w-full h-full tracking-widest text-[16px] font-[600] ml-[2px] mb-[5px]
                }

                @apply mt-[35px] h-[58.36px] w-[200px]
            }

            & {
                width: calc((100vw * 483px) / (1440px));
            }
        }

        @apply h-[675px] w-full p-[158px_150px_157.64px_150px] flex justify-between items-start
    }

    .mainServices {
        .waveLineBackground {
            @apply absolute bottom-0 left-0 z-[-1]
        }

        .header {
            .serviceTitle {
                @apply leading-[20px] h-[20px] text-[16px] font-[600] text-center text-[#FF64AE]
            }

            .serviceDescription {
                @apply leading-[24px];
                @apply h-[33px] text-[16px] font-[400] text-center tracking-widest text-[#8B8B8B] mt-[12px]
            }

            .subTitle {
                @apply leading-[45px] h-[53px] text-[36px] font-[600] text-center text-[#091156] mt-[12px]
            }
        }

        .content {
            .cardsWrap {
                @apply flex justify-between w-full scroll-smooth flex-wrap
            }

            @apply mt-[68px] w-full
        }

        @apply relative h-[685.34px] p-[0_262px_184.34px_263px]
    }

    .statisticsWrap {
        .background {
            img {
                @apply w-full
            }
        }

        .statisticsContent {
            .leftStatistics {
                .whyTitle {
                    @apply leading-[45px] h-[53px] text-[36px] font-[600] text-left text-white
                }

                .whyDesc {
                    @apply leading-[24px];
                    @apply h-[80px] text-[16px] font-[400] text-left text-[#D8DCFF] mt-[12px] tracking-widest
                }

                & {
                    width: calc((100vw * 486px) / (1440px));
                }
            }

            .rightStatistics {
                & {
                    width: calc((100vw * 483px) / (1440px));
                }

                @apply grid grid-cols-2 grid-rows-2 h-[181px] gap-x-14 gap-y-10 mt-[10px]
            }

            @apply flex items-center justify-between p-[272px_178px_244.5px_154px] w-full h-full absolute top-0 left-0
        }

        @apply relative w-full mt-[-56.34px]
    }

    .blogWrap {
        .rightWaveLineBackground {
            @apply absolute top-0 right-0 z-[-1]
        }

        .bottomWaveLineBackground {
            @apply absolute bottom-0 left-0 z-[-1]
        }

        .upperContent {
            .blogHeader {
                .blogMainTitle {
                    @apply leading-[20px] h-[20px] text-[16px] font-[600] text-center text-[#FF64AE]
                }

                .blogSubTitle {
                    @apply leading-[45px] mt-[12px] h-[50px] text-[36px] font-[600] text-center text-[#091156]
                }

                .blogDescription {
                    @apply leading-[24px];
                    @apply mt-[12px] h-[34px] text-[16px] font-[400] text-center text-[#8B8B8B] tracking-widest
                }

                @apply w-full p-[0_146px_0_145px]
            }

            .blogContent {
                .blogCardWrap {
                    @apply h-[543px] flex justify-between w-full flex-wrap
                }

                @apply mt-[79px] w-full
            }

            @apply w-full h-[750px]
        }

        .lowerContent {
            .lowerLeftContent {
                .contentTitle {
                    @apply leading-[45px] h-[50px] text-[36px] font-[600] text-left text-[#091156] w-full
                }

                .contentDescription {
                    span {
                        @apply text-[16px] font-[600] tracking-widest text-left text-[#091156]
                    }

                    @apply leading-[24px];
                    @apply mt-[12px] h-[60px] w-full text-[16px] font-[400] tracking-widest text-left text-[#8B8B8B]
                }

                & {
                    width: calc((100vw * 391px) / (1440px));
                }
            }

            .lowerRightContent {
                .inputWrap {
                    input {
                        @apply w-full rounded-[25px] p-[21.5px_147px_23.5px_37px] #{!important}
                    }

                    .phoneImageWrap {
                        @apply rounded-[0_23px_23px_0] bg-[#FF64AE] absolute top-0 right-0 p-[18px_41px_17px_34px]
                    }

                    @apply w-full h-[73px] relative
                }

                .underInput {
                    @apply leading-[18px] text-right mt-[8px] mr-[-1px] h-[17px] text-[12px] italic font-[400] tracking-widest text-[#8B8B8B]
                }

                & {
                    width: calc((100vw * 658px) / (1440px));
                }

                @apply mt-[13px]
            }

            @apply mt-[169px] flex justify-between
        }

        @apply relative mt-[-32.5px] h-[1292.08px] w-full p-[143px_150px_108.08px_151.5px] mb-[-57px]
    }
}

@media (min-width: 1450px) {
    .homeWrap {
        .backgroundSliderWrap {
            .sliderContent {
                .rightSlider {
                    @apply justify-center
                }

                @apply left-[50%] translate-x-[-50%] p-0 top-1/2 translate-y-[-50%] h-auto w-auto
            }
        }

        .aboutUsWrap {
            .rightContent {
                @apply ml-32
            }

            @apply w-auto p-0 justify-center relative left-1/2 translate-x-[-50%] top-1/2 items-center
        }

        .mainServices {
            .content {
                .cardsWrap {
                    @apply justify-center gap-[50px]
                }
            }

            @apply p-0
        }

        .statisticsWrap {
            .statisticsContent {
                .leftStatistics {
                    .whyTitle {
                        @apply text-[46px]
                    }

                    .whyDesc {
                        @apply text-[20px]
                    }
                }

                @apply justify-center gap-[200px]
            }
        }

        .blogWrap {
            @apply w-[1139px] p-0 relative left-1/2 translate-x-[-50%]
        }
    }
}

@media (max-width: 1430px) {
    .homeWrap {
        .backgroundSliderWrap {
            .sliderContent {
                .leftSlider {
                    .title, .description {
                        @apply h-auto
                    }

                    .description {
                        @apply mt-2
                    }

                    .detailBtnWrap {
                        button {
                            @apply w-1/2 #{!important}
                        }

                        .playBtnNextToDetailBtn {
                            img {
                                @apply w-[80px]
                            }

                            @apply flex w-1/2 justify-center
                        }

                        @apply flex w-full
                    }

                    @apply w-auto
                }

                .rightSlider {
                    @apply hidden
                }

                @apply p-[0_150px] absolute h-fit flex-wrap justify-between w-full top-1/2 translate-y-[-50%]
            }
        }

        .aboutUsWrap {
            .leftImageWrap {
                @apply w-2/5
            }

            .rightContent {
                .mainTitle, .underTitle, .descriptionUnder {
                    @apply h-auto
                }
            }

            @apply items-center
        }

        .mainServices {
            .header {
                .serviceTitle {
                    @apply leading-[20px] h-[20px] text-[16px] font-[600] text-center text-[#FF64AE]
                }

                .serviceDescription {
                    @apply h-auto;
                }

                .subTitle {
                    @apply h-auto
                }
            }

            .content {
                .cardsWrap {
                    @apply justify-center gap-[50px]
                }
            }

            @apply h-auto p-[0_80px_160px_80px] mt-[60px]
        }

        .statisticsWrap {
            .statisticsContent {
                .leftStatistics {
                    .whyTitle {
                        @apply h-auto
                    }
                }

                @apply flex items-center justify-between p-[20%_140px_244.5px_80px] w-full h-full absolute top-0 left-0
            }
        }

        .blogWrap {
            .upperContent {
                .blogHeader {
                    .blogSubTitle {
                        @apply h-auto
                    }

                    .blogDescription {
                        @apply h-auto
                    }

                    @apply w-full p-0
                }

                .blogContent {
                    .blogCardWrap {
                        @apply h-auto justify-center gap-[50px]
                    }
                }

                @apply h-auto
            }

            .lowerContent {
                .lowerLeftContent {
                    .contentTitle, .contentDescription {
                        @apply h-auto
                    }

                    .contentDescription {
                        @apply mt-1
                    }

                    @apply w-full
                }

                .lowerRightContent {
                    .inputWrap {
                        input {
                            @apply h-full rounded-[15px] #{!important}
                        }

                        .phoneImageWrap {
                            img {
                                @apply w-1/2
                            }

                            @apply rounded-[0_15px_15px_0] p-[18px_20px_13px_34px]
                        }

                        @apply w-full h-[50px] relative
                    }

                    .underInput {
                        @apply leading-[18px] text-right mt-[8px] mr-[-1px] h-[17px] text-[12px] italic font-[400] tracking-widest text-[#8B8B8B]
                    }

                    @apply mt-[20px] w-full
                }

                @apply mt-[70px] flex-col
            }

            @apply h-auto p-[150px_150px_100px_150px]
        }
    }
}

@media (max-width: 870px) {
    .homeWrap {
        .backgroundSliderWrap {
            .sliderContent {
                .leftSlider {
                    .title {
                        @apply text-[34px]
                    }
                }

                @apply p-[0_100px]
            }
        }

        .aboutUsWrap {
            .leftImageWrap {
                @apply hidden
            }

            .rightContent {
                .imageUnderTitle {
                    @apply flex mt-8 mb-8
                }

                .mainTitle, .underTitle, .descriptionUnder {
                    @apply h-auto text-center
                }

                @apply w-full flex flex-col items-center
            }

            @apply p-[120px_50px_70px_50px] h-auto
        }

        .statisticsWrap {
            .statisticsContent {
                .leftStatistics {
                    @apply hidden
                }

                .rightStatistics {
                    place-items: center;
                    @apply w-full h-full
                }

                @apply p-[80px_50px_90px_90px] block
            }
        }

        .blogWrap {
            .upperContent {
                .blogHeader {
                    @apply w-full p-0
                }

                .blogContent {
                }

            }

            .lowerContent {
                .lowerLeftContent {
                    .contentTitle, .contentDescription {
                        @apply h-auto
                    }

                    .contentDescription {
                        @apply mt-1
                    }

                    @apply w-full
                }

                .lowerRightContent {
                    .inputWrap {
                        input {
                            @apply h-full rounded-[15px] #{!important}
                        }

                        .phoneImageWrap {
                            img {
                                @apply w-1/2
                            }

                            @apply rounded-[0_15px_15px_0] p-[18px_20px_13px_34px]
                        }

                        @apply w-full h-[50px] relative
                    }

                    .underInput {
                        @apply leading-[18px] text-right mt-[8px] mr-[-1px] h-[17px] text-[12px] italic font-[400] tracking-widest text-[#8B8B8B]
                    }

                    @apply mt-[20px] w-full
                }

                @apply mt-[70px] flex-col
            }

            @apply h-auto p-[150px_50px_100px_50px]
        }
    }
}

@media (max-width: 768px) {
    .homeWrap {
        .backgroundSliderWrap {
            .sliderContent {
                .leftSlider {
                    .title {
                        @apply text-[28px] text-center
                    }

                    .description {
                        @apply hidden
                    }

                    .detailBtnWrap {
                        @apply mt-[20px]
                    }

                    @apply w-full
                }

                @apply p-[0_80px] top-[55%]
            }
        }
    }
}

@media (max-width: 576px) {
    .homeWrap {
        .backgroundSliderWrap {
            .sliderContent {
                .leftSlider {
                    .title {
                        @apply text-[24px] text-center
                    }

                    .detailBtnWrap {
                        button {
                            @apply h-[45px] #{!important}
                        }

                        .playBtnNextToDetailBtn {
                            img {
                                @apply w-[50px] mr-1
                            }

                            .rightText {
                                @apply mt-0
                            }
                        }

                        @apply mt-1 items-center
                    }
                }

                @apply top-[60%] p-[0_45px]
            }
        }

        .statisticsWrap {
            .statisticsContent {
                @apply p-[50px_50px_80px_70px]
            }
        }
    }
}

@media (max-width: 430px) {
    .homeWrap {
        .aboutUsWrap, .mainServices, .blogWrap {
            @apply px-[16px]
        }

        .backgroundSliderWrap {
            .sliderContent {
                .leftSlider {
                    .title {
                        @apply hidden
                    }

                    .detailBtnWrap {
                        button {
                            @apply hidden #{!important}
                        }

                        .playBtnNextToDetailBtn {
                            @apply w-full
                        }

                        @apply flex-col gap-[10px] h-auto
                    }

                    @apply flex h-auto items-center
                }

                @apply top-[68%]
            }
        }

        .statisticsWrap {
            .statisticsContent {
                .rightStatistics {
                    @apply gap-x-0 gap-y-[3.5rem]
                }

                @apply p-[50px_20px_70px_40px]
            }
        }

        .blogWrap {
            @apply mb-[-130px]
        }
    }
}

@media (max-width: 350px) {
    .homeWrap {
        .statisticsWrap {
            .statisticsContent {
                @apply p-[35px_20px_70px_40px]
            }
        }
    }
}
