.cardWrap {
    .logoWrap {
        img {
            @apply w-full
        }
    }

    .content {
        .name {
            line-height: 22.5px;
            @apply w-full h-[58px] text-[18px] font-[600] text-left text-[#091156]
        }

        .description {
            line-height: 21px;
            @apply w-full h-[74px] text-[14px] font-[400] tracking-widest text-left text-[#8B8B8B] p-[0_17px_0_0]
        }

        .learnMore {
            img {
                @apply ml-[9px]
            }

            & {
                line-height: 17.5px;
            }

            @apply mt-[15px] h-[19px] text-[14px] font-[600] text-left flex text-[#FF64AE] items-center
        }

        @apply p-[54.5px_21px_72px_38px]
    }

    &:hover {
        border: 1px solid #9BA2E0;
    }

    & {
        width: calc((100vw * 347px) / (1440px));
    }
    @apply h-full rounded-[25px] bg-white cursor-pointer border-none shadow-[0_25px_50px_5px_#F6F7FF]
}

@media (min-width: 1450px) {
    .cardWrap {
        @apply w-[347px]
    }
}

@media (max-width: 1430px) {
    .cardWrap {
        .logoWrap {
            img {
                @apply rounded-t-[25px]
            }
        }

        .content {
            .name, .description {
                @apply h-auto text-[15px]
            }

            .description {
                @apply mt-2 text-[13px]
            }

            .learnMore {
                @apply text-[12.5px]
            }

            @apply p-[20px] w-full
        }

        &:last-child {
            @apply mr-[calc(100%_-_calc((100%_/_3)_/_2)_-_calc(((100vw_-_100px)_-_calc((100%_/_3)_/_2))_/_2))]
        }

        @apply w-[calc((100%_/_3)_/_2)] m-[0_calc(((100vw_-_100px)_-_calc((100%_/_3)_/_2))_/_2)] h-auto flex-none
    }
}

@media (max-width: 870px) {
    .cardWrap {
        .logoWrap {
            img {
                @apply rounded-t-[25px]
            }
        }

        .content {
            .name, .description {
                @apply h-auto text-[15px]
            }

            .description {
                @apply mt-2 text-[13px]
            }

            .learnMore {
                @apply text-[12.5px]
            }

            @apply p-[20px] w-full
        }

        //&:last-child {
        //    @apply mr-[calc(100%_-_calc((150%_/_3)_/_2)_-_calc(((100vw_-_100px)_-_calc((150%_/_3)_/_2))_/_2))]
        //}

        @apply w-[calc((150%_/_3)_/_2)] m-[0_calc(((100vw_-_100px)_-_calc((150%_/_3)_/_2))_/_2)] h-auto flex-none
    }
}
